<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header><h1>出退勤管理システム</h1></header>
    <main>
        <% @cards.images.each do |image| %>
            <%= image_tag image, width: 300, height: 200 %>
        <% end %>
        <!-- 画像2枚 -->
    </main>
    <footer></footer>
</body>
</html>